<div class="container">
    <div class="box">Image</div>
    <div class="box">
        <h2>Sign Up</h2>
        <p>Empower Your Wellness Journey - Join Us Today!</p>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" formControlName="firstName" placeholder="Enter your first name" />
                <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="error-message">
                    {{ getErrorMessage('firstName') }}
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" formControlName="lastName" placeholder="Enter your last name" />
                <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="error-message">
                    {{ getErrorMessage('lastName') }}
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" type="text" formControlName="phoneNumber"
                    placeholder="Enter your phone number" />
                <div *ngIf="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched" class="error-message">
                    {{ getErrorMessage('phoneNumber') }}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName="email" placeholder="Enter your email address" />
                <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
                    {{ getErrorMessage('email') }}
                </div>
            </div>

            <div class="form-group">
                <label for="choosePassword">Choose Password</label>
                <input id="choosePassword" type="password" formControlName="choosePassword" placeholder="Password" />
                <div *ngIf="signupForm.get('choosePassword')?.invalid && signupForm.get('choosePassword')?.touched" class="error-message">
                    {{ getErrorMessage('choosePassword') }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword"
                    placeholder="Confirm Password" (blur)="matchingPassword()" />
                <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="error-message">
                    {{ getErrorMessage('confirmPassword') }}
                </div>
            </div>

            <button type="submit" [disabled]="signupForm.invalid">Submit</button>
        </form>
        <p>Already have an account?
            <a href="clientLogin" class="click-link">
                Login
            </a>
        </p>
    </div>
</div>