<div class="container">
    <a href="/login" (click)="backToLogin()" class="back-to-login-link">← Back to login</a>
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordEmailForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Don't worry! We'll help you reset your password</label>
            <input type="email" id="forgotPasswordEmail" formControlName="email" required
                placeholder="Enter your email address" class="form-control" />
            <div *ngIf="forgotPasswordEmailForm.get('email')?.invalid && forgotPasswordEmailForm.get('email')?.touched"
                class="error-message">
                {{ getErrorMessage('email') }}
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="forgotPasswordEmailForm.invalid">
                Continue
            </button>
        </div>
    </form>
</div>