<div class="container">
    <h2>Staff Login</h2>
    <p>Your Gateway to Wellness Management</p>

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Email</label>
            <input id="username" type="text" formControlName="username" placeholder="Enter your email address" />
            <div *ngIf="signInForm.get('username')?.invalid && signInForm.get('username')?.touched"
                class="error-message">
                {{ getErrorMessage('username') }}
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Your password" />
            <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched"
                class="error-message">
                <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched"
                    class="error-message">
                    {{ getErrorMessage('password') }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <a (click)="forgotPasswordClicked()" class="forgot-password-link">Forgot password?</a>
        </div>

        <button type="submit" [disabled]="signInForm.invalid">Login</button>
    </form>
</div>